body {
  background: #020617;
  color: white;
  font-family: Arial;
}

.app {
  width: 400px;
  margin: 50px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
